/* ===== Donutbox brand colour ===== */
/* Base colour: #0095C8 */

/* Light mode */
:root {
  --md-primary-fg-color: #0095C8;
  --md-primary-fg-color--dark: #007aa4;
  --md-primary-fg-color--light: #33add4;

  --md-accent-fg-color: #0095C8;
  --md-accent-fg-color--transparent: #0095c822;
}

/* Dark mode */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #33add4;
  --md-accent-fg-color: #33add4;
}

.md-tabs__link--active {
  font-weight: 600;
}

.md-button,
.md-typeset pre {
  border-radius: 6px;
}
